{% extends "base.html" %}
{% block script %}
    <script src="{{ "media/js/jquery.dataTables.js"|static_files }}"></script>

    <link rel="stylesheet"  href="{{ "/extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.css"|static_files }}">
    <script src="{{ "extensions/Plugins/integration/bootstrap/3/dataTables.bootstrap.js"|static_files }}"></script>
    
    <link rel="stylesheet"  href="{{ "/extensions/KeyTable/css/dataTables.keyTable.css"|static_files }}">
    <script src="{{ "extensions/KeyTable/js/dataTables.keyTable.js"|static_files }}"></script>


    <link rel="stylesheet"  href="{{ "/extensions/FixedHeader/css/dataTables.fixedHeader.css"|static_files }}">
    <script src="{{ "extensions/FixedHeader/js/dataTables.fixedHeader.js"|static_files }}"></script>
    
    <script>
    $(document).ready(function(){
        var table = $('.dataframe').DataTable({
            "dom": 'RC<"clear">lfrtip'
        });
        $.fn.dataTable.KeyTable( table );
    });
    </script>
{% endblock %}
{% block content %}
    {% if not table.empty %}
        {{ table|safe }}
    {% endif %}
{% endblock %}
